* {
  font-family: 'DM-Sans', sans-serif;
}

body {
  position: relative;
  padding-bottom: 40px;
  min-height: 100vh;
}

h1 {
  color: #0d6efd;
}

header {
  border-bottom: 1px solid #19191970;
}

.msg{
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
  padding: 10px;
}

#navbar {
  justify-content: space-between;
}

#navbar .navbar-nav .navbar-item .nav-link:hover {
  color: #0d6efd;
}

/* Search Container */
#searchContainer {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#searchContainer h1 {
  color: #f2f2f2;
  margin-bottom: 30px;
  font-weight: 900;
}

#searchContainer form {
  width: 50%;
  margin: 0 auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

.cards-container .card {
  width: 100%;
}

.cards-container .card img {
  border-radius: 3px;
}

.cards-container .card .card-title {
  color: #212121;
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 25px;
}

.cards-container .card .card-body {
  text-transform: capitalize;
}

.cards-container .card .card-participants {
  font-size: 14px;
  color: #757575;
  margin-bottom: 0;
}

#event-create-container{
  padding: 30px;
}

#event-create-container label{
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea{
  font-size: 12pt;
}

.event-image{
  border-radius: 7px;
}

#info-container p{
  font-size: 10pt;
  display: flex;
  align-items: center;
  margin: 0;
}

#info-container .bi{
  padding-right: 5px;
  color: #0d6efd;
  font-size: 12pt;
}

.infra-container{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.dashboard-events-container{
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  box-shadow: -2px -2px 30px #c9c9c970;
}

.dashboard-events-container h4{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}

.dashboard-events-container h4 > *{
  width: 33%;
}

.dashboard-events-container h4 form, 
.dashboard-events-container h4 button{
  all: unset !important;
}

.dashboard-events-container h4 p{
  display: flex;
  justify-content: center;
  transform: translateY(12px);
}

.dashboard-events-container h4 div{
  transform: translateY(3px);
  display: flex;
  justify-content: end;
  gap: 5px;
}

.dashboard-events-container h4 a{
  position: relative;
  text-decoration: none;
  color: #212121;
  overflow: hidden;
}

.dashboard-events-container h4 a i{
  font-size: 0pt;
  transition: 0.1s ease;
  margin-right: 5px;
}

.dashboard-events-container h4 a:hover i, 
.dashboard-events-container h4 a i:hover{
  font-size: 16pt;
  transition: 0.1s ease;
}

.dashboard-events-container i{
  cursor: pointer;
  display: inline-block;
  transition: 0.2s ease;
}

.dashboard-events-container:hover *{
  color: #212121;
}

.dashboard-events-container i:hover{
  color: #0d6efd;
  transform: translateY(-1px);
  transition: 0.2s ease;
}

.dashboard-events-container h4:not(:last-child){
  border-bottom: 1px solid #c9c9c9;
}

.dashboard-events-container h4:hover{
  color: #0d6efd;
}

footer {
  text-align: center;
  background-color: #353e48;
  color: #FFF;
  padding: 15px;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}